footer {
  padding: 40px;
  width: 90%;
  margin: 0 auto;
  justify-content: center;
  align-items: flex-end;
  text-align: center;
  display: flex;
}

a {
  color: white;
  text-align: center;
}

a:hover {
  text-decoration: none;
  color: #01d277;
}

i {
  font-size: 50px;
}

.github > p {
  margin-top: 5px;
}

.github {
  padding-left: 20px;
}
