/* Entire Movie Page */

.movie-container {
    padding: 0 5% 0 5%;
    min-width: 850px;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* ============= Movie Poster & Details ============= */

/* container */
.movie {
    height: 45vh;
    margin-top: 30px;
    margin-bottom: 25px;
    overflow: visible;
}

.movie-page-poster {
    height: 100%;
    float: left;
    margin-right: 30px;
    border-radius: 10px;
    border: 1px solid #fff;
    background-color: #cbcbcb;
}

/* Overall Movie Data */
.movie-data {
    display: flex;
    flex-wrap: wrap;
}

.movie-headline {
    flex-basis: 100%;
}

/* Details & Plot */
.movie-details {
    flex-basis: 30%;
}

.movie-plot {
    flex-basis: 70%;
}

/* ============= Links ============= */
.genre-link>a {
    color: #01d277;
}

.genre-link>a:visited {
    color: #b2b2b2;
}

.genre-link>a:hover {
    text-decoration: none;
}

.genre-link>a:active {
    color: #fff;
}

.cast-container>a:hover,
.similar-movie-container>a:hover {
    color: #01d277;
}

.cast-container>a,
.similar-movie-container>a {
    text-decoration: none;
    color: #fff;
}


/* ============= Cast & Similar Movie Sliders ============= */
.cast-container,
.similar-movie-container {
    overflow: hidden;
    height: 40vh;
    padding-left: 10px;
    margin-right: -15px;
    margin-left: 15px;
}

.cast-container img:hover,
.similar-movie-container img:hover {
    filter: brightness(110%);
}


.cast-photo,
.similar-movie-photo {
    height: 75%;
}

.cast-nophoto,
.similar-movie-nophoto {
    height: 75%;
    background-color: #cbcbcb;
}


.actor,
.similar-movie-title {
    font-weight: bold;
    margin-top: 0;
    margin-bottom: -5%;
}

.actor,
.character,
.similar-movie-title {
    width: 90%;
}

/* ============= Video Sliders ============= */

.video-container {
    margin-left: 15%;
    margin-bottom: 15%;
}

.video-list>button {
    top: 33%;
}

.video-list>.slick-next {
    right: 5%;
}

.video-list>.slick-prev {
    left: 10%;
}

/* ============= Slick Slider Styling ============= */
.slick-next,
.slick-prev {
    position: absolute;
    font-size: 0;
    top: 38%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    cursor: pointer;
    border: none;
    background: 0 0;
    opacity: .75;
    color: #fff;
    transition: all .2s ease-in-out;
}

.slick-next:focus:before,
.slick-next:hover:before,
.slick-prev:focus:before,
.slick-prev:hover:before {
    opacity: 1;
    font-size: 40px;

}

.slick-next.slick-disabled:before,
.slick-prev.slick-disabled:before {
    opacity: .25
}

.slick-next:before,
.slick-prev:before {
    font-size: 30px;
    line-height: 1;
    opacity: .75;
    color: #fff
}

.slick-prev {
    left: -30px;
}

.slick-next {
    right: -35px
}

.slick-prev:before {
    content: '\00AB'
}


.slick-next:before {
    content: '\00BB'
}


.slick-list,
.slick-slider,
.slick-track {
    position: relative;
}

.slick-list {
    overflow: hidden;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand
}

.slick-slider .slick-list,
.slick-slider .slick-track {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0)
}


.slick-slide {
    float: left;
}

.slick-slide.dragging img {
    pointer-events: none
}

/* ============= Media Queries ============= */

/* iPhone 4 Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

    /* Movie Container */
    .movie-container {
        min-width: 85vw;
    }

    .movie,
    .movie-page-poster,
    .movie-data {
        width: 100%;
    }

    .movie {
        height: 80vh;
        margin-bottom: 65%;
    }

    .movie-page-poster {
        height: auto;
    }

    .movie-data {
        text-align: center;
    }

    .movie-details,
    .movie-plot {
        flex-basis: 100%;
    }

    /* Cast & Similar Movies */
    .cast {
        margin-top: 65vh;
        text-align: center;
    }

    .similar-movies,
    .videos {
        text-align: center;
    }


    .slick-list,
    .slick-slider,
    .slick-track {
        width: 100%;
        margin: 0 auto;
    }

    .slick-next {
        right: 4vw;
    }

    .slick-prev {
        left: 5vw;
    }

    .cast-container,
    .similar-movie-container {
        height: 75vh;
        margin: 0;
        padding: 0;
    }

    .actor,
    .similar-movie-title {
        font-weight: bold;
        margin-top: 2vh;
        margin-bottom: -2vh;
    }


    .cast-container>a>p,
    .similar-movie-container>a>p {
        margin-left: 15px;
    }

    /* Videos */
    .videos {
        margin-top: -5vh;
        margin-bottom: 10vh;
    }

    .video-list,
    .video-list>.slick-list,
        {
        width: 100% !important;
        height: auto;
    }

    .video-container>iframe {
        width: 100% !important;
        height: auto !important;
    }

    .video-container {
        margin: 5vh 0 0 0;
    }

    .video-list>button {
        top: -3vh;
    }

    .video-list>.slick-next {
        left: 60%;
    }

    .video-list>.slick-prev {
        left: 30%;
    }

    .video-list>.slick-prev,
    .video-list>.slick-next {
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

}

/* iPhone 4, 5, SE Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

    /* Movie Container */
    .movie-container {
        min-width: 90vw;
    }

    .movie {
        width: 100%;
        height: 80vh;
        margin-bottom: 65%;
    }

    .movie-data {
        margin-top: -5vh;
        text-align: center;
        display: block;
    }

    .movie-page-poster {
        width: auto;
        height: 100%;
    }

    .movie-headline>h1 {
        font-size: 25px;
    }

    .movie-headline>h4 {
        margin-top: -10px;
        font-size: 14px;
    }

    /* Details & Plot */
    .movie-details {
        margin-top: -8px;
        flex-basis: 100%;
    }


    .movie-plot {
        margin-top: 50px;
    }

    .movie {
        margin-bottom: 50vh;
    }

    /* Cast & Similar Movies */
    .cast {
        margin: 0;
        text-align: center;
    }

    .similar-movies,
    .videos {
        text-align: center;
    }


    .slick-list,
    .slick-slider,
    .slick-track {
        width: 95%;
        margin: 0 auto;
    }

    .slick-next {
        right: -4vw;
    }

    .slick-prev {
        left: -4vw;
    }

    .cast-container,
    .similar-movie-container {
        height: 75vh;
        margin: 0;
        padding: 0;
    }

    .actor,
    .similar-movie-title {
        font-weight: bold;
        margin-top: 2vh;
        margin-bottom: -2vh;
    }


    .cast-container>a>p,
    .similar-movie-container>a>p {
        margin-left: 5px;
        font-size: 14px;
    }

    /* Videos */
    .videos {
        margin-top: 0;
        margin-bottom: 10vh;
    }

    .video-list,
    .video-list>.slick-list,
        {
        width: 400px !important;
        height: 225px;
    }

    .video-container>iframe {
        width: 400px !important;
        height: 225px !important;
    }

    .video-container {
        margin: 5vh 0 0 0;
    }

    .video-list>button {
        top: -3vh;
    }

    .video-list>.slick-next {
        left: 60%;
    }

    .video-list>.slick-prev {
        left: 30%;
    }

    .video-list>.slick-prev,
    .video-list>.slick-next {
        margin-top: 3vh;
        margin-bottom: 3vh;
    }

}

/* iPhone 5 Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

    /* Cast & Similar Movies */
    .cast {
        margin-top: 45vh;
    }


    .slick-next {
        right: -2vw;
    }

    .slick-prev {
        left: -2vw;
    }

}


/* iPhone 6/7/8 Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {

    /* Cast & Similar Movies */
    .cast {
        margin-top: 25vh;
    }

}

/* iPhone 6/7/8 Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {


    /* Movie Container */
    .movie-container {
        min-width: 90vw;
    }

    .movie {
        height: 80vh;
    }


    .movie-headline>h1 {
        font-size: 25px;
    }

    .movie-headline>h4 {
        margin-top: -10px;
        font-size: 14px;
    }

    /* Details & Plot */
    .movie-details {
        margin-top: -8px;
        flex-basis: 40%;
    }

    .movie-plot {
        flex-basis: 60%;
    }


    /* Cast & Similar Movies */
    .cast,
    .similar-movies,
    .videos {
        margin: 0;
        text-align: center;
    }

    .slick-next {
        right: -4vw;
    }

    .slick-prev {
        left: -4vw;
    }

    .cast-container,
    .similar-movie-container {
        height: 75vh;
        margin: 0;
        padding: 0;
    }

    .actor,
    .similar-movie-title {
        margin-top: 2vh;
        margin-bottom: -2vh;
    }


    .cast-container>a>p,
    .similar-movie-container>a>p {
        margin-left: 10px;
        font-size: 14px;
    }

    /* Videos */
    .videos {
        margin-top: 0;
        margin-bottom: 10vh;
    }

    .video-list,
    .video-list>.slick-list,
        {
        width: 450px !important;
        height: 253px;
    }

    .video-container>iframe {
        width: 450px !important;
        height: 253px !important;
    }

    .video-container {
        margin: 5vh 0 0 0;
    }

    .video-list>button {
        top: -3vh;
    }

    .video-list>.slick-next {
        left: 55%;
    }

    .video-list>.slick-prev {
        left: 40%;
    }

    .video-list>.slick-prev,
    .video-list>.slick-next {
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
}


/* iPhone 6/7/8+ Portrait */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {

    /* Videos */
    .video-list,
    .video-list>.slick-list,
        {
        width: 375px !important;
        height: 211px;
    }

    .video-container>iframe {
        width: 357px !important;
        height: 211px !important;
    }

}

/* iPhone 6/7/8+ Landscape */
@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {

    /* Movie Container */
    .movie-container {
        min-width: 95vw;
    }

    .movie {
        height: 80vh;
    }


    /* Cast & Similar Movies */
    .slick-next {
        right: 0vw;
    }

    .slick-prev {
        left: 0vw;
    }

    .cast-container,
    .similar-movie-container {
        height: 75vh;
        margin-left: 25px;
    }

    .actor,
    .similar-movie-title {
        margin-top: 2vh;
        margin-bottom: -2vh;
    }


    .cast-container>a>p,
    .similar-movie-container>a>p {
        margin-left: 10px;
        font-size: 14px;
    }

    /* Videos */
    .videos {
        margin-top: 0;
        margin-bottom: 10vh;
    }

    .video-list,
    .video-list>.slick-list,
        {
        width: 450px !important;
        height: 253px;
    }

    .video-container>iframe {
        width: 450px !important;
        height: 253px !important;
    }

    .video-container {
        margin-top: 5vh;
    }

    .video-list>button {
        top: 30%;
    }

    .video-list>.slick-next {
        left: 80%;
    }

    .video-list>.slick-prev {
        left: 10%;
    }

    .video-list>.slick-prev,
    .video-list>.slick-next {
        margin-top: 3vh;
        margin-bottom: 3vh;
    }
}

/* ----------- iPhone X ----------- */

/* Portrait */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: portrait) {

}

/* Landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) and (orientation: landscape) {

}

/* ----------- Galaxy S3 ----------- */

/* Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {

}

/* Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {

}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {

}

/* Landscape */
@media screen and (device-width: 320px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {

}

/* ----------- Galaxy S6 ----------- */

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: portrait) {

}

/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: landscape) {

}

/* ----------- Google Pixel ----------- */

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {

}

/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 3) and (orientation: landscape) {

}

/* ----------- Google Pixel XL ----------- */

/* Portrait and Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) {

}

/* Portrait */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: portrait) {

}

/* Landscape */
@media screen and (device-width: 360px) and (device-height: 640px) and (-webkit-device-pixel-ratio: 4) and (orientation: landscape) {

}

/* ----------- iPad 1, 2, Mini and Air ----------- */

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {

}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {

}

/* ----------- iPad 3, 4 and Pro 9.7" ----------- */

/* Portrait */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 10.5" ----------- */

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 834px) and (max-device-width: 834px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1112px) and (max-device-width: 1112px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {

}

/* ----------- iPad Pro 12.9" ----------- */

/* Portrait */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2) {

}

/* Landscape */
/* Declare the same value for min- and max-width to avoid colliding with desktops */
/* Source: https://medium.com/connect-the-dots/css-media-queries-for-ipad-pro-8cad10e17106*/
@media only screen and (min-device-width: 1366px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
    
}