
#results>p {
    margin-left: 100px;
}

.movie-card {
    border: solid 1px #01d277;
    border-radius: 10px;
    width: 80%;
    margin: 0 auto 10px auto;
    display: flex;
    flex-direction: row;
}

.movie-card:hover,
.movie-card:focus {
    opacity: 0.9;
    background-color: #01d277;
}

.movie-search-info {
    padding-right: 2%;
}

.results-poster,
.results-no-poster {
    float: left;
    margin-right: 2%;
    border-radius: 10px 0 0 10px;
    border-right: solid 1px #01d277;
}

.results-poster {
    width: 25%;
}

.results-no-poster {
    width: 25%;
    background-color: #cbcbcb;
}

.movie-card > a {
    text-decoration: none;
    color: #fff;
}

.movie-card:hover > a {
    color: #081c24;
}

/* Media Queries */
@media only screen and (max-width: 600px) {

    #results>p {
    	margin-top: 25px;
    	margin-left: 0px;
    	text-align: center;
    }

    .movie-card {
        width: 80%;
    }

    .results-poster,
    .results-no-poster {
        float: none;
        display: block;
        border-radius: 10px 10px 0 0;
        border-bottom: solid 1px #01d277;
        width: 100%;
    }

    .movie-search-info {
    	margin-left: 10px;
    	margin-right: 10px;
    }


}