body {
    margin: 0;
    padding: 0;
    color: #fff;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: black;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

h4 {
    font-style: italic;
    margin-top: -15px;
}

 
#outer-container {
    background-image: linear-gradient(rgba(0, 0, 0, 0.9) 35%, rgba(0, 0, 0, 0.65) 70%, rgba(0, 0, 0, 1) 100%);
    background-attachment: scroll;
    margin: 0;
    height: 120vh;
}


.App {
    animation: fadein ease-out 1.4s;
}

